<footer>
    <div id="footer--background">
        <div id="footer__star-container" class="hide">
            <div class="stars"></div>
            <div class="stars--2"></div>
            <div class="stars--3"></div>
        </div>
    </div>
    <div id="ocean">
        {# <h2>Sea you soon</h2> #}
        <div id="wave1" class="wave"></div>
        <div id="wave2" class="wave"></div>
        <div class="dolphin"></div>
        <div class="dolphin"></div>
        <div class="dolphin"></div>
    </div>
</footer>