<footer>
    <div class="background"></div>
    <div class="ocean">
        <h2>Sea you soon</h2>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="dolphin"></div>
        <div class="dolphin"></div>
        <div class="dolphin"></div>
    </div>
</footer>