footer {
  h2{
    padding-top: 80px;
    text-align: center;
    color: whitesmoke;
    font-size: 2em;
  }
  .background{
    position: relative;
    height: 100vh;
    width: 100%;
    left: 0;
    background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgb(199, 236, 240) 35%, #a4e4e7 100%);
  }
}

.ocean { 
  // height: 20vh;
  width:100%;
  position:absolute;
  left:0;
//   background: #015871;
//   z-index: 1;
}

.wave {
  background: url(../../assets/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  overflow-x: hidden;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  z-index: 1;
  &:nth-of-type(2){
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
}
@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

// Dolphin
.dolphin{
  background: url(../../assets/dolphin-front.svg);
  position: absolute;
  width: 150px;
  height: 150px;
  top: -100px;
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
  animation: dolphin-jump 3s linear infinite;
  &:nth-of-type(3) {
    background: url(../../assets/dolphin-back.svg);
    left: 56%;
    animation: dolphin-jump 3.3s linear infinite;
  }
  &:nth-of-type(4) {
    background: url(../../assets/dolphin-middle.svg);
    left: 45%;
    animation: dolphin-jump 3.2s linear infinite;
  }
}
@keyframes dolphin-jump {
  0% {
    transform: translateX(80%) rotate(0deg);
    top: -135px;
  }
  10% {
    transform: translateX(50%) rotate(10deg);
    top: -150px;
  }
  30% {
    transform: translateX(-30%) rotate(20deg);
    top: -300px;
  }
  60%{
    transform: translateX(-150%) rotate(-50deg);
    top: -150px;
  }
  80% {
    transform: translateX(-180%) rotate(-35deg);
    top: -130px;
  }
  100% {
    transform: translateX(-220%) rotate(0deg);
    top: -115px;
  }
}