*{margin: 0;padding: 0;box-sizing: border-box;}
html{scroll-behavior: smooth !important;}
html, body{min-height: 100vh;text-rendering: optimizeSpeed;overflow-x: hidden;}

h1, h2, h3, h4 ,h5 ,h6{
    font-family: 'Chango', cursive;
}

li{list-style: none;}
a{text-decoration: none;}
input, button, textarea, select{font: inherit;}

img, video, iframe{width: 100%;}
