// Font
$font-title: 'Chango', cursive;
$font-lorem: 'Flow Circular', cursive;
$font-text: 'Spartan', sans-serif;

// Offset
$offset-xx-large: 120px;
$offset-x-large: 100px;
$offset-large: 80px;
$offset-medium: 40px;
$offset-small: 20px;
$offset-x-small: 10px;
$offset-xx-small: 5px;