---
layout: "base.njk"
title: Delfiner
---
{# Header background #}
{# 
    The header background is in the index, so I can scroll 
    with a fixed header, without the background following.    
 #}
<section class="header-container">
    <div class="hero-text">
        <h1>Heading</h1>
        <h2>Subheading</h2>
    </div>
    <div class="scroll-cloud">
        <a href="#intro">
            <div class="cloud">
                <i class="arrow down"></i>
            </div>
        </a>
    </div>
</section>
<section class="intro-container">
    <a id="intro" href=""></a>
</section>
<section class="content-container">

</section>