---
layout: "base.njk"
title: Delfiner
---
{# Header background #}
{# 
    The header background is in the index, so I can scroll 
    with a fixed header, without the background following.    
 #}
<section id="header--background">
    <div id="header__star-container" class="hide">
        <div class="stars"></div>
        <div class="stars--2"></div>
        <div class="stars--3"></div>
    </div>
    <div class="hero-text">
        <h1>Heading</h1>
        <h2>Subheading</h2>
    </div>
    <div class="scroll-cloud">
        <div class="cloud">
            <i class="arrow down"></i>
        </div>
    </div>
</section>
<section class="intro-container">
    <a id="intro" href=""></a>
    <h1>Heading</h1>
    <h2>Subheading</h2>
    <div onclick="test()">KLICK HEAR</div>
    <p class="lorem">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro ut necessitatibus optio fuga amet corrupti a voluptas quidem molestias eius eos, eaque, dolore eveniet similique facilis temporibus ullam earum! Mollitia!</p>
</section>
<section class="content-container">

</section>